@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.workContent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 50px 0 0;
  position: relative;
  max-width: 1400px;

  .wrapper {
    position: fixed;
    top: 35%;
    left: 10%;
    width: 32%;
    z-index: 2;

    .inner {
      position: relative;
    }
  }

  .workDetails {
    opacity: 0;
    position: absolute;
    top: 75px;
    left: 0;
    transition: .5s ease;
    z-index: -1;

    &.show {
      opacity: 1;
      top: 0;
      z-index: 90;
      transition: .75s ease;
      transition-delay: .25s;
    }
  }

  .workList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    width: 50%;
    z-index: 5;

    .workPiece {
      padding: 75px 0;
      position: relative;
      left: 0;
      width: 100%;

      .cardContainer {
        transform: scale(1) rotate(-8deg);
        transition: 1s ease;
      }

      &:first-child {
        padding-top: 25px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &.inView {
        .cardContainer {
          transform: scale(1.02) rotate(8deg);
        }

      }

      &:hover,
      &:focus {
        .cardContainer {
          transform: scale(1.05) rotate(2deg);
        }
      }
    }
  }

  @include lg-max {
    padding: 150px 0;
    display: block;

    .workList {
      flex-direction: column;
      gap: 35px;
      margin: 0 -35px 0 0;
      width: 100%;

      .workPiece {
        transform: scale(1) rotate(0deg);
        width: 100%;

        &.inView {
          transform: scale(1) rotate(0deg);
        }

        &:hover,
        &:focus {
          transform: scale(1) rotate(0deg);
        }
      }
    }

    .wrapper {
      position: relative;
      bottom: auto;
      left: 0;
      width: 100%;
    }

    .workDetails {
      margin-top: 0;
      opacity: 1;
      padding: 0 30px;
      position: relative;
      bottom: auto;
      left: 0;
      width: 100%;
      z-index: 90;
    }
  }

  @include sm-max {
    padding: 0 0 150px;

    .workDetails {
      padding: 0;
    }

    .workList {
      .workPiece {
        &:first-child {
          padding-top: 0
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}