@import "../../../../styles/variables.scss";
@import "../../../../styles/breakpoints.scss";

.csFooter {
  padding: 150px 100px;

  .inner {
    display: flex;
    justify-content: space-between;
  }

  .workButton {
    border-right: 3px solid $olive;
    display: flex;
    align-items: center;
    gap: 50px;
    opacity: .5;
    padding-right: 30px;
    padding-left: 80px;
    position: relative;
    transition: .25s ease;


    .arrow {
      left: 0;
      transition: .25s ease;
    }

    .arrow {
      position: absolute;

      svg {
        path {
          stroke: $olive;
        }
      }
    }

    .content {
      text-align: right;

      .label {
        color: $olive;
        display: block;
        font-size: 28px;
        font-weight: 600;
        line-height: 46px;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 1;

      .arrow {
        left: -35px;
      }
    }
  }

  .processButton {
    border-left: 3px solid $olive;
    display: flex;
    align-items: center;
    gap: 50px;
    transition: .25s ease;
    padding-right: 80px;
    padding-left: 30px;
    position: relative;

    .arrow {
      position: absolute;
      right: 0;
      transition: .25s ease;

      svg {
        transform: rotate(180deg);

        path {
          stroke: $olive;
        }
      }
    }

    .content {
      .label {
        color: $olive;
        display: block;
        font-size: 28px;
        font-weight: 600;
        line-height: 46px;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 1;

      .arrow {
        right: -35px;
      }
    }
  }

  @include lg-max {
    padding: 100px 50px;

    .inner {
      gap: 25px;
    }
  }

  @include md-max {
    padding: 75px 30px;
  }

  @include sm-max {
    .inner {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}