@import "../../../../styles/variables.scss";
@import "../../../../styles/breakpoints.scss";

.contentBlock {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 100px 0 50px;

  &.fullHeight {
    height: 100vh;
  }

  .title {
    color: $olive;
    font-family: $title;
    font-size: 55px;
    font-weight: 900;
    line-height: 63px;
    margin: 0 0 25px;
    position: relative;
    text-transform: capitalize;
  }

  .quote {
    color: $sand;
    display: block;
    font-family: $title;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 45px;
  }

  h3 {
    color: $sand;
    font-family: $title;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    margin-top: 0;
  }

  .tag {
    color: rgba($olive, 0.35);
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .actions {
    margin-top: 45px;

    @include sm-max {
      margin-top: 25px;
    }
  }

  .img {
    margin: 75px 0 0;
    padding: 0;
    position: relative;

    .caption {
      display: block;
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
    }

    @include md-max {
      margin: 0;
    }
  }

  .content {
    color: $sand;
    font-weight: 300;
    flex: 1;

    @include md-max {
      padding: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
  }

  &.noTitle {
    .content {
      margin: 0 auto;
      max-width: 700px;
    }
  }

  &.split {
    align-items: center;
    flex-direction: row;
    gap: 100px;

    .details {
      flex: 1;
    }

    .img {
      flex: 1;
      margin: 0;
    }

    &.flipped {
      flex-direction: row-reverse;
    }
  }

  @include md-max {
    flex-direction: column;
    padding: 75px 0 45px;

    .title {
      text-align: left;

      &:after {
        display: none;
      }
    }

    .content {
      padding: 0;
    }

    .img {
      margin: 0;
    }

    &.split {
      flex-direction: column;
      gap: 50px;

      .img {
        width: 100%;
        margin: 0;
      }

      &.flipped {
        flex-direction: column;
      }
    }
  }

  @include sm-max {
    padding: 45px 0 25px;

    .actions {
      margin-top: 25px;
    }
  }
}
