@import "../../../../styles/variables.scss";
@import "../../../../styles/breakpoints.scss";

.fullWidthContent {
  background: rgba($olive, 0.1);
  // background-color: $navy;
  overflow: hidden;
  padding: 200px 0;
  position: relative;

  .img {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -30px;
    right: -200px;
    transform: rotate(-15deg);
    width: 1000px;
    height: 100%;
  }

  .inner {
    max-width: 480px;
    position: relative;
    z-index: 2;
  }

  .tag {
    color: rgba($olive, 0.35);
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .title {
    color: $olive;
    font-size: 55px;
    line-height: 63px;
    margin: 0 0 25px;
    position: relative;
    z-index: 2;

    @include md-max {
      text-align: left;

      &:after {
        display: none;
      }
    }
  }

  .content {
    max-width: 480px;
    z-index: 2;

    &:first-child {
      margin-top: 0;
    }
  }

  .actions {
    padding-top: 45px;
  }

  &.bgOlive {
    background: $olive;

    .tagline,
    .blockHeading,
    .content {
      color: $creme;
    }
  }

  &.bgSand {
    background: $sand;

    .tagline {
      color: rgba($creme, 0.5);
    }

    .blockHeading,
    .content {
      color: $creme;
    }
  }

  &.flipped {
    position: relative;

    .img {
      right: auto;
      left: -300px;
      transform: rotate(15deg);
    }

    .inner {
      margin-left: auto;
      max-width: 560px;
    }

    .content {
      max-width: 560px;
    }
  }

  &.moreText {
    position: relative;

    .img {
      top: -175px;
      right: -400px;
    }

    .inner {
      max-width: 700px;
    }

    .content {
      max-width: 700px;
    }
  }

  // Featured Work
  .featuredWork {
    padding: 150px 0 0;
    position: relative;

    @include md-max {
      padding: 100px 0 0;
    }

    h1 {
      color: $sand;
      font-family: $copy;
      font-size: 3rem;
      line-height: 1;
      margin: 0 0 100px;
      opacity: 1;
      position: relative;
      text-align: center;

      @include md-max {
        margin: 0 0 50px;
      }
    }

    .workList {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 35px;
      list-style-type: none;
      margin: 0 -35px 0 0;
      padding: 0;

      li {
        border-radius: 15px;
        width: calc(50% - 35px);

        > * {
          transform: rotate(0) !important;
        }
      }

      @include md-max {
        flex-direction: column;
        margin: 0;

        li {
          width: 100%;
        }
      }
    }

    .actions {
      margin-top: 75px;
      text-align: center;
      width: 100%;

      @include sm-max {
        margin-top: 25px;
      }

      a {
        background: $sand;
        border-radius: 100px;
        color: $creme;
        display: inline-block;
        font-weight: 500;
        padding: 15px 45px;
        transition: 0.25s ease;

        &:hover,
        &:focus {
          transform: scale(1.05);
        }

        @include sm-max {
          text-align: center;
          width: 100%;
          margin-bottom: 15px;

          span {
            display: none;
          }
        }
      }
    }
  }

  // responsive ========================

  @include vp-max(1400) {
    .img {
      right: -300px;
    }

    &.flipped {
      .img {
        left: -420px;
      }
    }

    &.moreText {
      .img {
        right: -500px;
      }
    }
  }

  @include xl-max {
    .img {
      width: 900px;
    }

    &.flipped {
      .img {
        width: 900px;
      }
    }

    &.moreText {
      .img {
        top: -50px;
      }
    }
  }

  @include vp-max(1100) {
    .img {
      right: -400px;
    }

    &.flipped {
      .img {
        left: -500px;
      }
    }

    &.moreText {
      .img {
        right: -550px;
      }
    }
  }

  @include lg-max {
    min-height: 100vh;
    max-height: none;
    overflow: hidden;
    padding: 100px 0 0;

    :global {
      .container {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .img {
      position: relative;
      top: auto;
      bottom: 0;
      right: 100px;
      transform: rotate(-15deg);
      overflow: hidden;
      width: 150%;
      height: 500px;
    }

    .inner {
      max-width: none;
      width: 100%;
      margin: 0 auto;
    }

    .content {
      max-width: none;
      width: 100%;
    }

    &.flipped {
      .inner {
        max-width: none;
        width: 100%;
        margin: 0 auto;
      }

      .content {
        max-width: none;
        width: 100%;
      }

      .img {
        bottom: -120px;
        left: -100px;
        height: 700px;
        width: 125%;
      }
    }

    &.moreText {
      min-height: 0;
      height: auto;

      .img {
        top: auto;
        bottom: -150px;
        right: 100px;
        height: 800px;
        width: 120%;
        margin-top: -200px;
      }
    }
  }

  @include sm-max {
    .img {
      bottom: -50px;
    }

    &.moreText {
      .img {
        bottom: -150px;
        right: 0;
        height: 800px;
        width: 120%;
        margin-top: -200px;
        margin-bottom: -200px;
      }
    }
  }
}
