@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.fullWidthContent {
  background: rgba($olive, .1);
  overflow: hidden;
  margin-top: 25px;
  padding: 200px 0;
  position: relative;

  .img {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -30px;
    right: -200px;
    transform: rotate(-15deg);
    width: 1000px;
    height: 100%;
  }

  .inner {
    max-width: 480px;
    position: relative;
    z-index: 2;
  }

  .blockHeading {
    color: $olive;
    font-family: $copy;
    font-size: 55px;
    line-height: 63px;
    margin: 0 0 25px;
    position: relative;
    z-index: 2;

    @include md-max {
      text-align: left;

      &:after {
        display: none;
      }
    }
  }

  .content {
    max-width: 480px;
    z-index: 2;

    &:first-child {
      margin-top: 0;
    }
  }

  &.flipped {
    position: relative;

    .img {
      right: auto;
      left: -300px;
      transform: rotate(15deg);
    }

    .inner {
      margin-left: auto;
    }
  }
}