@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.header {
  padding: 0 50px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 99;

  .logo {
    width: 65px;
    height: 65px;
    position: relative;

    :global {
      svg {
        width: 65px;
        height: 65px;
        opacity: .5;
        transition: .25s ease;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;

      :global {
        svg {
          opacity: 1;
        }
      }
    }
  }

  .innerWrapper {
    display: flex;
    justify-content: space-between;
  }

  @include lg-max {
    padding: 0 50px;

    .logo {
      display: none;
    }

    .innerWrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  @include md-max {
    padding: 0 40px;
  }

  @include sm-max {
    padding: 0 30px;
  }
}