@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.wrapper {
  box-shadow: 0px 10px 30px rgba(#000000, 0.15);
  margin: 45px 0;
  transition: transform .5s ease;

  @include lg-max {
    transform: rotate(0deg);
    margin: 0;

    &:hover,
    &:focus {
      transform: rotate(0deg);
    }
  }

  @include sm-max {
    box-shadow: none;
    margin: 0 -30px;
  }
}

.workItem {
  overflow: hidden;
  position: relative;

  .content {
    color: #ffffff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    z-index: 2;

    h2 {
      color: #ffffff;
      font-family: $title;
      font-size: 55px;
      line-height: 55px;
      margin: 0;
      position: relative;
      top: -30px;
    }

    .popUp {
      font-family: $copy;
      font-size: 22px;
      font-weight: 500;
      line-height: 36px;
      position: relative;
    }

    @include md-max {
      h2 {
        margin-bottom: 15px;
      }

      .popUp {
        max-height: none;
        opacity: 1;
      }

      .tags {
        span {
          background: rgba($sand, 0.3);
        }
      }
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}